<nav id="navbar">
    <a href="/" class="Logo"> Hjem </a>

    <a href="/login"> Logg inn </a>

    <a href="/newGuide">Lag ny Guide</a>

    <form action="/logout" method="post">
        <input type="submit" name="submit" id="submit" class="logout" value="Logout">
    </form>
</form>
</nav>