<%- include("./partials/head") %>
<body>
    <!-- <%- include("./partials/head") %> -->
    <div class="gridConteiner">
        <div class="aside">

        </div>

        <div class="main">

        </div>
    </div>
</body>
</html>