<%- include("./partials/head") %>
<body>
    <%- include("./partials/nav") %>
    <input type="text" id="inputFelt" placeholder="Skriv noe her">
<div class="guideBoxDiv">
    <a href="guide" class="guideBox"><div></div></a>
    <a href="guide" class="guideBox"><div></div></a>
    <a href="guide" class="guideBox"><div></div></a>
    <a href="guide" class="guideBox"><div></div></a>
    <a href="guide" class="guideBox"><div></div></a>
    <a href="guide" class="guideBox"><div></div></a>
</div>
    
    
</body>
</html>