<%- include("./partials/head") %>
<body>
    <%- include("./partials/head") %>
    <div id="LoginConteiner">
        <h1>Sign up</h1>
        <form action="" method="post">
            <input type="email" placeholder="Enter email" id="email" name="brukernavn">
            <input type="password" placeholder="Password1234" id="password" name="password">
            <input type="password" placeholder="Password1234" id="gjentaPassword" name="gjentaPassword">
            <input type="submit" name="submit" id="submit">
        </form>
        <a href="/login"> har en bruker?</a>
    </div>
</body>
</html>