:root{
    --hovedfarge: #1F1F1F;;
    --farge2    : rgb(66, 68, 68);
    --hvitfarge: rgb(172, 172, 172);
    --gråfarge: #4e4e4e;
}

html{
    overflow: hidden;
}


body{
    background-color: var(--hovedfarge);
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar{
    box-shadow: 0px 0px 5px var(--farge2); /* horizontal offset, vertical offset, blur, color */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid 2px var(--farge2);
    width: 100%;
    list-style-type: none;
    
}

#navbar :first-child{
    flex-grow: 2;
    
}

#navbar a{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    text-decoration: none;
    color: var(--hvitfarge)
}

#inputFelt{
    background-color: var(--farge2);
    box-shadow: 0px 2px 5px var(--farge2); /* horizontal offset, vertical offset, blur, color */
    margin: 3% 0%;
    width: 50%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 12px;
   
}

.guideBox{
    background-color: var(--farge2);
    box-shadow: 0px 0px 5px #a79d9d;
    margin-bottom: 5%;
    border-radius: 20px;
    gap: 5%;
    border: solid 2px var(--farge2);
    width: 20%;
    min-width: 300px;
    height: 200px;
}



.guideBoxDiv{

    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    column-gap: 5%;
}


input::placeholder{
    padding-left: 12px;
}

input:focus {
    padding-left: 10px;
    outline: none;
    padding-left: 12px;
}

input {
    outline: none;
    border: 1px solid black;
    color: var(--gråfarge)
}

.gridConteiner{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    "aside main main main main"
    ;
    min-height: 1000px;
    width: 100%;
}

.aside{
    grid-area: aside;
    background-color: var(--gråfarge);
    display: flex;
    flex-direction: column; 
    align-items: center;
    

}

.aside a{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: var(--hovedfarge);
}


.main{
    max-height: 100vh;
    overflow-y: scroll;
    color: var(--hvitfarge);
    grid-area: main;
    background-color: var(--hovedfarge);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#LoginConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px var(--hvitfarge);
    border-radius: 20px;
    padding-bottom: 20%;
    min-width: 30%;

}

#LoginConteiner form{
    display: flex;
    flex-direction: column;
}    

form input{
    margin: 5px;
}

